.flex-section
    display: flex

    .left-section
        margin-left: 1rem

#portfolio-pdf
    gap: 3rem
    display: flex
    flex-wrap: wrap
    display: none

@media screen and (max-width: 600px)
    .flex-section
        display: block

        .left-section
            margin: 0rem
