@use 'variablesPdf'
@use 'mixinsPdf'

.certification-container
    margin-bottom: 1rem

    .certification-grid
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

        .certification-card
            @include mixinsPdf.center
            justify-content: left
            gap: 1rem
            margin-bottom: .6rem
            padding: 1rem
            border: 1px solid #333
            border-radius: variablesPdf.$card-border-radius

            h3
                color: variablesPdf.$text-color
                margin-bottom: .3rem

            h4
                color: variablesPdf.$text-color
                margin-bottom: .5rem
                font-size: .8rem
                margin-bottom: 2rem

            .div-button
                margin-bottom: .8rem
