@use 'variablesPdf'
@use 'mixinsPdf'

.experience-container-pdf
    background-color: variablesPdf.$bg-color
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

    .experience-grid-pdf
        gap: 1.5rem
        align-items: left
        text-align: left
        width: 50rem

        h2
            color: variablesPdf.$text-color
            font-size: 1.5rem
            background: variablesPdf.$gradient
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            margin-top: 1rem

        .experience-card-pdf
            gap: 1rem
            margin-bottom: .6rem
            padding: 1rem
            border: 1px solid #333
            border-radius: variablesPdf.$card-border-radius

            h3
                color: variablesPdf.$text-color
                margin-bottom: .3rem

            h4
                color: variablesPdf.$text-color
                margin-bottom: .5rem
                font-size: .8rem
                margin-bottom: .8rem

            .div-button-pdf
                margin-bottom: .8rem

            p
                padding: 0.1rem
                letter-spacing: 0.16px
