@use 'variablesPdf'
@use 'mixinsPdf'

#information-pdf
    @include mixinsPdf.center
    background-color: variablesPdf.$bg-color-secondary
    text-align: left
    border-radius: variablesPdf.$card-border-radius

    .lineStyled-pdf
        border-left: 2px solid #8a8a8a
        width: 2px
        height: 4rem
        margin-right: .8rem
        margin-left: .8rem

    .info-card-pdf
        @include mixinsPdf.center
        justify-content: start
        gap: .8rem
        padding-bottom: .8rem
        margin-bottom: .8rem

        h3
            color: variablesPdf.$text-color-secondary
            font-size: .8rem
            margin-bottom: .5rem

        p
            color: variablesPdf.$text-color
            font-weight: bold

        svg
            background-color: variablesPdf.$bg-color
            padding: .4rem
            width: 2rem
            height: 2rem
            border-radius: variablesPdf.$card-border-radius

        #phone-icon
            color: #e93b81

        #email-icon
            color: #6ab5b9

        #pin-icon
            color: #c17ceb
