@use 'variablesPdf'
@use 'mixinsPdf'

#sidebar
    background-color: variablesPdf.$bg-color
    flex: 1 1 0
    border-radius: variablesPdf.$container-border-radius
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    position: relative
    padding: 2rem 0

    img
        max-width: 70%
        height: 220px
        border-radius: variablesPdf.$container-border-radius
        position: absolute
        top: -3rem

    h1
        width: 100%
        color: variablesPdf.$text-color
        font-size: 1.5rem
        background: variablesPdf.$gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        margin-top: 11rem

    .title
        color: variablesPdf.$text-color-secondary
        background-color: variablesPdf.$bg-color-secondary
        border-radius: variablesPdf.$card-border-radius
        margin-top: 1rem
        padding: .8rem 1.2rem

    .btn
        @include mixinsPdf.btn
